body {
    background-color: #f0f0f0;
    color: #333;
  }
 
/* Dark theme styles applied when user prefers dark mode */
body.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}  

h1 {
    margin-left: 20px;
  }

.year {
    font-weight: bold;
    clear: left;
}  

.small-pic {
    width: 100px;
    height: 140px;
    padding-top: 1px; 
    padding-right: 1px; 
    padding-bottom: 1px;
    padding-left: 1px;
    float: left;
    border: 2px solid transparent; /* A transparent border is recommended to prevent layout shifts */
    transition: border-color 0.3s ease; /* Smooth transition for the border color */
  }  

/* Hover state of the image */
.small-pic:hover {
  border-color: yellow;
}